version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "5174:4173"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:8080"
    depends_on:
      - mongo

  mongo:
    image: mongo:7